.container-wrapper {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .spline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .video-container {
    overflow: hidden;
    width: 100%;
    display: none;
  }
  
  .video-style {
    overflow: hidden;
    width: 100%;
  }